<div class="well">
    <h4 class="text-center"><b><u>Sender Component</u></b></h4>
    <div class="row">
        <div class="col-sm-3">
            <p>
                <b>Type Message to Send</b>
            </p>
        </div>
        <div class="col-sm-6">
            <input class="form-control" [(ngModel)] = 'message' type="text" name="message" id="message">
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary" (click)="sendMessage()" >Send Message</button>
        </div>
    </div>
</div>